In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import datetime

## Step1 資料庫連接設定

In [2]:
    db_test_string1 = 'postgresql://postgres:transiot@52.69.32.193:5432/tms_log'
    db_test_string2 = 'postgresql://postgres:transiot@52.69.32.193:5432/tms_data'
    tms_test_log = create_engine(db_test_string1, pool_size=10, max_overflow=20)
    tms_test_data = create_engine(db_test_string2, pool_size=10, max_overflow=20) #測試機
    
    db_string1 = 'postgresql://postgres:RDSiot@192.168.1.252:5432/tms_log'
    db_string2 = 'postgresql://postgres:RDSiot@192.168.1.252:5432/tms_data'
    tms_log = create_engine(db_string1, pool_size=10, max_overflow=20)
    tms_data = create_engine(db_string2, pool_size=10, max_overflow=20) #正式機

## step2 撈出所有體驗用戶的資料

In [3]:
    user = pd.read_sql( """SELECT * from "TDP_all_user" where event_time between '2018-10-01'\
    and '2018-11-20 12:00:00' \
    and vehicle_id in(\
    '000CBF148844',\
    '000CBF148894',\
    '000CBF148ACC',\
    '000CBF148D9B',\
    '000CBF148EC4',\
    '000CBF148EC9',\
    '000CBF148ECE',\
    '000CBF148F8E',\
    '000CBF149109',\
    '000CBF149141',\
    '000CBF149144',\
    '000CBF1492AC',\
    '000CBF149332',\
    '000CBF149780',\
    '000CBF14981D',\
    '000CBF149843',\
    '000CBF149922',\
    '000CBF149B53',\
    '000CBF149B56',\
    '000CBF149B79',\
    '000CBF149B80',\
    '000CBF149B96',\
    '000CBF149BB2',\
    '000CBF149BC3',\
    '000CBF149BC6',\
    '000CBF149BD2',\
    '000CBF149C54',\
    '000CBF149CAE',\
    '000CBF149CDB',\
    '000CBF149CF2',\
    '000CBF149D1D',\
    '000CBF149D1F',\
    '000CBF149D24',\
    '000CBF149D3B',\
    '000CBF149D40',\
    '000CBF149D45',\
    '000CBF149D59',\
    '000CBF149D61',\
    '000CBF149D65',\
    '000CBF149D94',\
    '8CDE52B21635',\
    '8CDE52B216D1',\
    '8CDE52B22BBA',\
    '8CDE52B22C28',\
    '8CDE52B24446',\
    '8CDE52B2446A',\
    '8CDE52B244AD',\
    '8CDE52B24EA5',\
    '8CDE52B24EEA',\
    '8CDE52B2AE79',\
    '000CBF1488A2',\
    '8CDE5204141D',\
    '000CBF148831',\
    '001167E5E86B',\
    '8CDE52B22B16',\
    '000CBF149D1E',\
    '000CBF149CA3') """, tms_data)

## Step3 用戶總資料筆數

In [4]:
user.shape

(613575, 65)

## Step4 總用戶數

In [5]:
user['vehicle_id'].nunique()

57

## Step5 計算累積使用人次

In [6]:
user['event_time']=user['event_time'].dt.tz_convert('Asia/Taipei')##時區調整
user['event_time']=user['event_time'].dt.strftime("%Y-%m-%d %H:%M:%S")
user['event_time']=pd.to_datetime(user['event_time'],format= "%Y-%m-%d %H:%M:%S" )
user['event_date']=user['event_time'].dt.date ##將時間格式拆出，僅留日期
user_by_date=user.groupby(['event_date']).vehicle_id.nunique().reset_index() ##計算每日使用人次
user_by_date['vehicle_id_cumsum']=user_by_date['vehicle_id'].cumsum() ##計算累積使用人次
user_by_date

    event_date  vehicle_id  vehicle_id_cumsum
0   2018-10-01          11                 11
1   2018-10-02          15                 26
2   2018-10-03          27                 53
3   2018-10-04          29                 82
4   2018-10-05          32                114
5   2018-10-06          30                144
6   2018-10-07          28                172
7   2018-10-08          37                209
8   2018-10-09          37                246
9   2018-10-10          31                277
10  2018-10-11          42                319
11  2018-10-12          37                356
12  2018-10-13          33                389
13  2018-10-14          33                422
14  2018-10-15          40                462
15  2018-10-16          44                506
16  2018-10-17          44                550
17  2018-10-18          41                591
18  2018-10-19          35                626
19  2018-10-20          33                659
20  2018-10-21          31                690
21  2018-10-22          38                728
22  2018-10-23          36                764
23  2018-10-24          37                801
24  2018-10-25          33                834
25  2018-10-26          37                871
26  2018-10-27          28                899
27  2018-10-28          28                927
28  2018-10-29          34                961
29  2018-10-30          32                993
30  2018-10-31          39               1032
31  2018-11-01          37               1069
32  2018-11-02          33               1102
33  2018-11-03          23               1125
34  2018-11-04          24               1149
35  2018-11-05          30               1179
36  2018-11-06          28               1207
37  2018-11-07          32               1239
38  2018-11-08          29               1268
39  2018-11-09          31               1299
40  2018-11-10          27               1326
41  2018-11-11          26               1352
42  2018-11-12          27               1379
43  2018-11-13          30               1409
44  2018-11-14          33               1442
45  2018-11-15          30               1472
46  2018-11-16          28               1500
47  2018-11-17          12               1512
48  2018-11-18          14               1526
49  2018-11-19          18               1544
50  2018-11-20          15               1559

## Step6 撈出所有體驗用戶總推播資料筆數

In [7]:
push = pd.read_sql(""" select * from "TDP_all_push_V1" where  user_id in(\
    '000CBF148844',\
    '000CBF148894',\
    '000CBF148ACC',\
    '000CBF148D9B',\
    '000CBF148EC4',\
    '000CBF148EC9',\
    '000CBF148ECE',\
    '000CBF148F8E',\
    '000CBF149109',\
    '000CBF149141',\
    '000CBF149144',\
    '000CBF1492AC',\
    '000CBF149332',\
    '000CBF149780',\
    '000CBF14981D',\
    '000CBF149843',\
    '000CBF149922',\
    '000CBF149B53',\
    '000CBF149B56',\
    '000CBF149B79',\
    '000CBF149B80',\
    '000CBF149B96',\
    '000CBF149BB2',\
    '000CBF149BC3',\
    '000CBF149BC6',\
    '000CBF149BD2',\
    '000CBF149C54',\
    '000CBF149CAE',\
    '000CBF149CDB',\
    '000CBF149CF2',\
    '000CBF149D1D',\
    '000CBF149D1F',\
    '000CBF149D24',\
    '000CBF149D3B',\
    '000CBF149D40',\
    '000CBF149D45',\
    '000CBF149D59',\
    '000CBF149D61',\
    '000CBF149D65',\
    '000CBF149D94',\
    '8CDE52B21635',\
    '8CDE52B216D1',\
    '8CDE52B22BBA',\
    '8CDE52B22C28',\
    '8CDE52B24446',\
    '8CDE52B2446A',\
    '8CDE52B244AD',\
    '8CDE52B24EA5',\
    '8CDE52B24EEA',\
    '8CDE52B2AE79',\
    '000CBF1488A2',\
    '8CDE5204141D',\
    '000CBF148831',\
    '001167E5E86B',\
    '8CDE52B22B16',\
    '000CBF149D1E',\
    '000CBF149CA3') """,tms_data)

## Step7 總資料筆數

In [8]:
push['event_time']=push['event_time'].dt.tz_convert('Asia/Taipei')##時區調整
push['event_time']=push['event_time'].dt.strftime("%Y-%m-%d %H:%M:%S")
push['event_time']=pd.to_datetime(push['event_time'],format= "%Y-%m-%d %H:%M:%S" )

In [9]:
push=push[(push['event_time']>'2018-10-01') & (push['event_time']<'2018-11-20 12:00:00')] ##時間篩選
push.shape

(257063, 11)

In [10]:
#push['event_date']=push['event_time'].dt.date ##將時間格式拆出，僅留日期
#push_by_date=push.groupby(['event_date']).size().reset_index(name='push_count') ##計算每日使用人次
#push_by_date['push_cumsum']=push_by_date['push_count'].cumsum()
#push_by_date

## END